body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
 
 html{
  scroll-behavior: smooth;
} 


body{
    font-family: 'Quicksand', sans-serif;
}



.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}



/* .landing-text{
    display: flex;
    justify-content: start;
} */
 

.box-0 h1{
    text-align: start;
    margin-top: 85px;
    font-weight: bold;
    color: #010102;
    font-size: 2.2rem;
    text-decoration: underline wavy; 
    text-decoration-color: #85D7CB;
    margin-bottom: 25px;
    
}

.box-1 p{
    color: #010102;
    text-align: start;
    font-size: 1.3rem;
    margin-bottom: 25px;
    
}

@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

    .box-0 h1{
        font-size: 3rem;
    }

    .box-1 p{
        font-size: 1.8rem;
        padding-top: 60px;
} 
}



/*  .box-0{
    border: 1px solid red;
} 
.box-1{
    border: 1px solid red;
}   */

 .box-2{ 
    display: flex;
    justify-content: center;
   /*  max-width: 100%; */
  /*   padding-right: 25%;
    padding-left: 10%; */
} 

/*  .box-3{
    border: 1px solid red;
}  
 */

 .box-2 img{
    align-items: center;
    transition: transform .2s;
    cursor: pointer;
    
    
  /*   width: 100%; */
}  



.box-2 img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.highlight {
    text-decoration: none;
    color:#010102;
    font-family: sans-serif;
    padding: 0 5px 5px;
    box-shadow: inset 0 -0.5em 0 #FFD4DC;
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
  }

  

  .highlight:hover {
    color:black;
    text-decoration: none;
    /* Alternative colour---  */
    box-shadow: inset 0 -1.5em 0 #FFD4DC;
    /* box-shadow: inset 0 -1.5em 0 rgba(208, 0, 227, 0.3);  */
  }

  .fullstop{
      color: #85D7CB;
      font-size: 4rem;
  }

  .cta-button {
    text-align: center; 
  }

.cta-button a {
    display: inline-block;
    color: #85D7CB;
    text-decoration: none;
    font-size: 3rem;
  }
  
 .cta-button a:hover {
    color: #FFD4DC;
  } 
 
  /* .box-4{
    display: flex;
    justify-content: center; */
  /*   color: #010102;
    width: 100%;
    padding-left: 10%;
    padding-right: 5%;
    margin-top: 50px; */
/* } */



.fas {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.fas {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* https://codepen.io/jaabert/pen/gObMGBV */

.box-4{
    margin-top: 50px;
}


.box-4 h2{
    /* text-align: left;   */
/*     font-size: 2rem; */
    font-weight: bold;
    line-height: 30px;
    text-decoration: underline wavy; 
    text-decoration-color: #85D7CB;
}
/* 
.design-thinking p{

   text-align: left;  
    color: #010102;
    font-size: 1.1rem;
    padding-top: 15px;
} */

.box-4 p{
   /*  border: 1px solid red;  */
    font-size: 1.2rem;
    text-align: left; 
    padding-top: 10px;
}



.box-5 img{
    padding-top: 2%;
    transition: transform .2s;
    cursor: pointer;
    box-shadow: 5px 5px 25px rgba(255, 212, 220, 0.651);
    border-radius: 20px;
    /* padding-left: 28%;
    padding-right: 10%; */

}


.box-5 img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }





.box-6{
    padding: 6%;
}

.box-6 p{
   /*  border: 1px solid red;  */
    font-size: 1rem;
    /* text-align: left;  */
    padding-top: 30px;
    padding-right: 5%;
    font-weight: bold;
    font-style: italic;
    color: grey;
    transition: transform .2s;
    cursor: pointer;
}


.box-6 p:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }


/* image line  */
/* hr{
   
    border-top:2px solid black;
  
} */


/* Line separator between about and device features section */
.line-2 {
    margin-top: 70px;
    width: 20%;
    padding-left: 10%;
    padding-right: 10%;
    border-top: dotted #85D7CB;
    background: none;
    border-width:10px;  
}
  
.box-5{
    padding: 5%;
}
/* 
.box-5 .img-responsive{
    padding-right: 0;
} */

/* .padding{
    padding: 50px 0;
} */


 .padding img{
    width: 100%;
    padding: 5%;
}





@media (min-width:768px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

    .box-4 h2{
        font-size: 2.5rem;
    }

    .box-4 p{
        font-size: 1.5rem;
        padding-top: 40px;
        
} 

.box-6 p{
    font-size: 1.2rem;
    padding-right: 40px;
    
} 
}

.box-7 p{
    color: #010102;
    text-align: start;
    font-size: 1.1rem;
    margin-top: 25px; 
    
}



/* device features content and images */
.device-features{
    /*  border: 3px solid red; */
     display: table-cell;
     justify-content:center;
     width: 100%;
     padding-bottom: 50px;
   }  
 
  .device-features h2, p{
     text-align: center;
     vertical-align: middle;
   }  
 
   .device-features  p{
     color: white;
     font-size: 1.3rem;
     padding-right: 10%;
     padding-left: 10%;
   }  
 
 
   .device-features h2 {
     color: white;
     font-weight: bold;
     padding-bottom: 30px;
 
   }  
 
 
   @media (min-width:600px) and (max-height: 1366px)   {
     .device-features h2{
         font-size: 1.5rem;
     }
 }
 
 
 
 .device-img{
    /*  border: 3px solid red;
     display: flex; */
     display:flex;
    /*  margin:10px; */
    /*  border:1px solid blue; */
     justify-content:center;
     padding-top: 10px;
     padding-bottom: 20px;
 }
 
 .device-img img{
     height: 100px;
     width: 100px;
     flex:0 1 auto;
     align-self:center;
     transition: transform .2s;
     margin: 0 auto;
     cursor: pointer;
 /*     border:1px solid red; */
 }
 
 .device-img img:hover{
     -ms-transform: scale(1.5); /* IE 9 */
     -webkit-transform: scale(1.5); /* Safari 3-8 */
     transform: scale(1.5); 
 }
 
 .device-heading h5 {
     justify-content: center;
     text-align: center;
     color: white;
   /*   padding-bottom: 50px; */
 }
 
 
 .device-heading-pink h5 {
     justify-content: center;
     text-align: center;
    /* Alternative colour---   */
    color: #B096EA;
    /* color: rgb(250, 95, 229);   */
   /*   padding-bottom: 50px; */
 }
 


/*  .box-5 { */
    /* border: 1px solid red;  */ 
     /* padding-left: 10%;
      padding-top: 40px;

   
  } */
  
/*   .box-6 p{ */
      /*  border: 1px solid red;  */
     /*   font-size: 1rem;
       text-align: left; 
       padding-top: 60px;
   
       padding-right: 60%;
   } */
   
  
  /* image line  */
 /*  hr {
      margin-top: 110px;
      width: 50%;
      border-top: 4px solid #FFD4DC; 
      } */