body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
 
 html{
  scroll-behavior: smooth;
  /* This causes the anchor tag to go to the top of the section */
  scroll-padding-top: 70px; 
} 


body{
    font-family: 'Quicksand', sans-serif;
}


/* Navbar */

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar{
    background-color: white;
   /*  color:#525253; */
}

.nav-link{
    font-size: 20px;
   /*  font-weight: bold; */
    justify-content: flex-end;
    align-items: center;
  /*   color:#525253; */
}

/* .navbar-nav .nav-link {
    color:#525253;
} */

/* .navbar-nav .nav-link:hover{
    background-color: #85D7CB;
    transition: background .3s;
    border-radius: 5px; 
    color:white;
} */
/* .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
} */
/* .nav > li > a:hover{
    background-color:#FCC;
} */

.navbar-light .navbar-toggler  {
    border: none;
    outline: none;
  }

/* .active a{
    font-weight: bold;
    color:  #85D7CB;
} */


.navbar-light .navbar-nav .nav-link {
    color:rgb(160, 160, 165);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:  #85D7CB;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #85D7CB;
}

/* .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  } */
  .active {
      color: #85D7CB;
      font-weight: bold;
    /* background:linear-gradient(#85D7CB,#85D7CB) bottom/100% 4px no-repeat; */
  }
  
.logo{
    margin-left: 15px;
    border: none;
    width:55px; 
    height:50px; 
}


/* For responsivity of hamburger menu .row is needed  */
.row {
    margin: 0;
 }


/*  Landing Page */


#home{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


#home h1{
      /*   text-align: start; */
        /* margin-top: 40px; */
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        color: #525253;
        font-size: 2.2rem;
   /*      text-decoration: underline wavy; 
        text-decoration-color: #85D7CB; */
}

#home p {
    text-align: center;
    color: rgb(119, 119, 126);
    font-size: 1.5rem;
    /* margin-top: 50px; */
    line-height: 2rem;
    margin-bottom: 50px;
    /* margin-bottom: -10px; */
}



.home-image{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
} 


 .home-image img{
    align-items: center;
    transition: transform 2s, 1s ease-in-out;
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    /* margin-top: 50px;  */
}  


.home-image img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }




/* .home-container{
    margin-top: 120px;
} */

.scroll-down{
    /*   border: 1px solid red; */
    display:none;
    margin-top: 50px; 
  }  

  .scroll-down h4{
    color: #77777E;
  /*   font-weight: bold; */
  font-size: 1.5rem;
  }  




.box-0 h1{
    text-align: start;
    margin-top: 85px;
    font-weight: bold;
    color: #525253;
    font-size: 2.2rem;
    
} 

.box-1 p{
    color: #77777E;
    text-align: start;
    font-size: 1.3rem;
    margin-bottom: 25px;
    
} 



/*  .box-0{
    border: 1px solid red;
} 
.box-1{
    border: 1px solid red;
}   */

 .box-2{ 
    display: flex;
    justify-content: center;
} 

 
 

 .box-2 img{
    align-items: center;
    transition: transform 2s, 1s ease-in-out;
    cursor: pointer;
    max-width: 250px;
    max-height: 250px; 
}  


.box-2 img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.highlight {
    text-decoration: none;
    color:rgb(96, 96, 102);
    font-weight:bold;
    font-family: sans-serif;
    padding: 0 5px 5px;
    box-shadow: inset 0 -0.5em 0 #FFD4DC;
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
  }

  

.highlight:hover {
    color:black;
    text-decoration: none;
    /* Alternative colour---  */
    box-shadow: inset 0 -1.5em 0 #FFD4DC;
    /* box-shadow: inset 0 -1.5em 0 rgba(208, 0, 227, 0.3);  */
}

  .fullstop{
      color: #85D7CB;
      font-size: 3rem;
  }

  .cta-button {
    text-align: center; 
  }

.cta-button a {
    display: inline-block;
    color: #85D7CB;
    text-decoration: none;
    font-size: 3rem;
  }
  
 .cta-button a:hover {
    color: #FFD4DC;
  } 
 

.fas {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
.fas {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* https://codepen.io/jaabert/pen/gObMGBV */

/* .design-thinking {
    padding-left: 10%;
    padding-right: 10%;
} */


.design-thinking h2{
    color: #525253;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
   /*  line-height: 30px; */
}


.design-thinking p{
   /*  border: 1px solid red;  */
    font-size: 1.2rem;
    text-align: left; 
    padding-top: 20px;
}

.design-image{
    display:flex;
    justify-content: center;
    padding:2%;
}

.design-image img{
    align-items: center;
    margin-top: 20px;
    transition: transform 2s, 1s ease-in-out;
    box-shadow: 5px 5px 25px rgba(255, 212, 220, 0.651);
    border-radius: 20px;
    cursor: pointer;
    max-width: 300px;
    max-height: 300px;
}


.design-image img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }




.box-6{
    padding: 6%;
}

.box-6 p{
   /*  border: 1px solid red;  */
    font-size: 1rem;
    /* text-align: left;  */
    padding-top: 30px;
    padding-right: 5%;
    font-weight: bold;
    font-style: italic;
    color: grey;
    transition: transform .2s;
    cursor: pointer;
}


.box-6 p:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }


/* image line  */
/* hr{
   
    border-top:2px solid black;
  
} */


/* Line separator between about and device features section */
.line-2 {
    margin-top: 70px;
    width: 20%;
    padding-left: 10%;
    padding-right: 10%;
    border-top: dotted #85D7CB;
    background: none;
    border-width:10px;  
}
  
.box-5{
    padding: 5%;
}
/* 
.box-5 .img-responsive{
    padding-right: 0;
} */

/* .padding{
    padding: 50px 0;
} */


 .padding img{
    width: 100%;
    padding: 5%;
}





@media (min-width:768px)  {

    .box-4 h2{
        font-size: 2.5rem;
    }

    .box-4 p{
        font-size: 1.5rem;
        padding-top: 40px;
        
} 

.box-6 p{
    font-size: 1.2rem;
    padding-right: 40px;
    
} 
}

.box-7 p{
    text-align: start;
    margin-top: 25px; 
    color: rgb(119, 119, 126);
    font-size: 1.2rem;
    
}




/* 
Project Page */


#project1-2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


#project1-2 h1{
      /*   text-align: start; */
        margin-top: 40px;
        margin-bottom: 20px;
        font-weight: bold;
        color: #525253;
        font-size: 2.2rem;
   /*      text-decoration: underline wavy; 
        text-decoration-color: #85D7CB; */
}

#project1-2 p {
    color: rgb(119, 119, 126);
    text-align: start;
    font-size: 1.2rem;
    /* margin-top: 50px; */
    line-height: 1.6rem;
    margin-bottom: 20px;
    /* margin-bottom: -10px; */
}


.projectButton{
  /*   margin-top: 50px; */
    display: flex;
    justify-content: center; 
}

.projectButton a{
   /*  margin-top: 15px;
    margin-bottom: 10px; */
    margin-right: 20px;
    margin-left: 20px;
}

.button1{
    align-items: center;
    font-size: 1rem;
    background-color: #FFB1C0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
   /*  box-shadow: 2px 2px 2px rgb(202, 202, 202); */
}

.button1:hover {
    color:white;
    background-color: #C0C0C9;
    border-color: transparent;
    text-decoration: none;
}


.button2{
    align-items: center;
    font-size: 1rem;
    background-color: #85D7CB;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
   /*  box-shadow: 2px 2px 2px rgb(202, 202, 202); */
}

.button2:hover {
    color:white;
    background-color: #C0C0C9;
    border-color: transparent;
    text-decoration: none;
}




.projects-image{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
} 


 .projects-image img{
    align-items: center;
    transition: transform 2s, 1s ease-in-out;
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    /* margin-top: 50px;  */
}  


.projects-image img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }














/* Project 1 section */
/* MAGIC WITH THE NAVBAR this allows the bottom to move to the top of the what we do section*/
 .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
 


#project1{
    background-color: rgba(255, 212, 220, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}

/* #project1:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
  }
 */

#project1 h1 {
    text-align: center;
    font-size: 2.3rem;
   /*  margin-top: 60px; */
    color: #525253;
    font-weight: bold;
    margin-bottom: 40px;
   } 

   #project1 p {
  /*   align-items: center; */
    text-align: center; 
    font-size: 1.3rem;
    color: #525253;
    letter-spacing: 2px;
    line-height: 2rem;
   /*  padding-top: 5%; */
}


.imgButton{
    text-align:center;
}


.projectButton-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button3{
    font-size: 1rem;
    background-color: #FFB1C0;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.button3:hover {
    color:white;
    background-color: #C0C0C9;
    border-color: transparent;
    text-decoration: none;
}



.logo-image{ 
    display: flex;
    justify-content: center;
} 


 .logo-image img{
    align-items: center;
    transition: transform 2s, 1s ease-in-out;
    cursor: pointer;
    max-width: 300px;
    max-height: 300px;
}  


.logo-image img:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }



  
#project2{
    background-color: rgba(133, 215, 203, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}

/* #project2:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
  } */


#project2 h1 {
    text-align: center;
    font-size: 2.3rem;
 /*    margin-top: 60px; */
    color: #525253;
    font-weight: bold;
    margin-bottom: 40px;
   } 


   #project2 p {
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    color: #525253;
    letter-spacing: 2px;
    line-height: 2rem;
}


.projectButton-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button4{
    font-size: 1rem;
    background-color: #5AD7C4;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.button4:hover {
    color:white;
    background-color: #C0C0C9;
    border-color: transparent;
    text-decoration: none;
}



#contact{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
    width: 100%;
}

#contact h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: #77777E;
 /*    padding-right: 20%;
    padding-left: 20%; */
}

#back{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
    width: 100%;
}

.box-3 h4{
    margin-top: -20px;
    color: #77777E;
}

.social-icons{
    margin-top: 20px;
    text-align: center;
    /* border:1px solid green;  */
}
.social-icons p{
    font-family: inherit;
    font-size: 1.2rem;
}

.fa {
  /*   padding: 10px 15px 5px; */
    font-size: 1.5rem;
    color:#525253;
    padding-bottom: 1%;
    
}

.fa:hover{
    color: #FFB1C0;  
    text-decoration: none;
}

.fab {
   /*  padding: 10px 15px 5px; */
    font-size: 1.5rem;
    color:#525253;
    padding-bottom: 1%;
    
}

.fab:hover{
    color: #FFB1C0;  
    text-decoration: none;
}



.far {
   /*  padding: 10px 15px 5px; */
    font-size: 1.5rem;
    color: #525253;
}

.far:hover{
    color: #FFB1C0;  
    text-decoration: none;
} 



.footer-box{
    display: flex;
    justify-content: center;
    /*border:1px solid blue;*/
}


.copyright{
    text-align: center;
    padding: 5%;
}
/* Media queries */

/* iphone 5 media query  */
@media (max-width: 360px) {
    .logo{
        width:40px; 
        height:40px; 
    }
    
    #home h1 {
        font-size: 1.8rem;
        margin-top: 40px;
    }
    #home p {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
    .design-thinking h2 {
        font-size: 1.5rem;
    }
    .design-thinking p {
        font-size: 1.1rem;
    }
    .design-image img {
        max-width: 250px;
        max-height: 250px;
    }
    #project1-2 h1 {
        font-size: 1.8rem;
        margin-top: 45px;
        margin-bottom: 10px;
    } 
    .home-image img {
        max-width: 180px;
        max-height: 180px;
    }
    #project1-2 p {
        font-size: 1rem;
        line-height: 1.5rem; 
    }
    .projectButton a {
       /*  margin-top: 15px;
        margin-bottom: 10px; */
        margin-right: 20px;
        margin-left: 20px;
    }
    .projects-image img {
        max-width: 130px;
        max-height: 130px;
       /*  margin-top: 12px; */
    }
    .button1 {
        font-size: 1rem;
    }
    .button2 {
        font-size: 1rem;
    }
    .button3 {
        font-size: 1rem;
    }
    .button4 {
        font-size: 1rem;
    }
    #project1 h1 {
        margin-top: 20px;
        font-size: 2rem;
    }
    #project1 h2 {
        margin-top: 20px;
        font-size: 2rem;
    }
    .logo-image img {
        max-width: 200px;
        max-height: 200px;
    }
    #contact h2 {
        font-size: 1.3rem;
    }
    .social-icons p {
        font-size: 1rem;
    }
    .box-3 h4 {
       font-size: 1.2rem;
        margin-bottom: 40px;
    }
    .copyright h6{
        font-size: 0.9rem;
    }
   
}


@media (min-width:770px) and (max-height: 1883px)  {
    #home h1{
        text-align: start;
        font-size: 3rem;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 40px;
  }

  #home p{
    text-align: start;
    font-size: 1.6rem;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2.2rem;
    margin-top: 20px;
    margin-bottom:0;
  }

  .fullstop {
    font-size: 4rem;
}

  .home-container {
    margin-top: 120px;
}
.home-image img {
    max-width: 350px;
    max-height: 350px;
}
.design-thinking {
    padding-left: 10%;
    padding-right: 10%;
}
.design-thinking p {
    line-height: 2.2rem;
    padding-top: 0;
}
.design-image img {
    max-width: 500px;
    max-height: 500px;
    margin-top: 0;
}
.design-image img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

    

    #project1-2 h1{
          font-size: 3rem;
          padding-left: 15%;
          margin-top:0;
    }
  
    #project1-2 p{
      font-size: 1.3rem;
      padding-left: 15%;
      line-height: 2.2rem;
    }


    #project1 h1{
        padding-top: 70px;
  }

  #project2 h1{
    padding-top: 70px;
}


.box-0 h1{
    padding-left: 12%;
    font-size: 3rem;
} 

    .box-4 h2{
        font-size: 2.5rem;
    }

    .box-4 p{
        font-size: 1.5rem;
        padding-top: 40px;
        
} 

.box-6 p{
    font-size: 1.2rem;
    padding-right: 40px;
    
} 


.box-7 p{
    margin-top: 25px; 
    padding-right: 15%;
}

#contact h2 {
    padding-right: 20%;
    padding-left: 20%;
    font-size: 2rem;137
}
.copyright{
    text-align: right;
    padding: 2%;
    font-size: 1.1rem;
}
.projects-image img {
    max-width: 350px;
    max-height: 350px;
   /*  margin-top: 70px; */
}

.button1 {
    padding: 15px;
}
.button2 {
    padding: 15px;
}
.button3 {
    padding: 15px;
}
.button4 {
    padding: 15px;
}
.projectButton-projects {
    margin-top: 50px;
}
.logo-image img {
    max-width: 500px;
    max-height: 500px;
}
.box-2 img {
    max-width: 400px;
    max-height: 400px;
}
.active {
    background:linear-gradient(#85D7CB,#85D7CB) bottom/100% 4px no-repeat;
  }
  .navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;
}
.logo {
    margin-left: 30px;
}

}


@media  (min-width:769px) and (max-height: 878px){
    .active {
        color:#85D7CB;
        font-weight: bold;
        background: none;
      }
      
.scroll-down{
    display:block;
  } 

  .home-image img {
    max-width: 250px;
    max-height: 250px;
}
  /* #home h1 {
    text-align: center;
    font-size: 3rem;
    padding-left: 0;
}  */
}














