body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
 
 
 html{
  scroll-behavior: smooth;
  /* This causes the anchor tag to go to the top of the section */
  scroll-padding-top: 70px; 
} 


body{
    font-family: 'Quicksand', sans-serif;
}


/* Navbar */

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.navbar{
    background-color: white;
   /*  color:#525253; */
   border-bottom:1px solid rgba(224, 230, 229, 0.486);
}

.nav-link{
    font-size: 20px;
   /*  font-weight: bold; */
    justify-content: flex-end;
    align-items: center;
  /*   color:#525253; */
}

/* .navbar-nav .nav-link {
    color:#525253;
} */

/* .navbar-nav .nav-link:hover{
    background-color: #85D7CB;
    transition: background .3s;
    border-radius: 5px; 
    color:white;
} */
/* .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
} */
/* .nav > li > a:hover{
    background-color:#FCC;
} */

.navbar-light .navbar-toggler  {
    border: none;
    outline: none;
  }

/* .active a{
    font-weight: bold;
    color:  #85D7CB;
} */


.navbar-light .navbar-nav .nav-link {
    color:rgb(160, 160, 165);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:  #85D7CB;
    font-weight: bold;
  /*   background:linear-gradient(#85D7CB,#85D7CB) bottom/100% 4px no-repeat;  */
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #85D7CB;
}

/* .navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  } */
/* .active {
    color: #85D7CB;
    font-weight: bold;
    background:linear-gradient(#85D7CB,#85D7CB) bottom/100% 4px no-repeat; 
  } */
  
.logo{
    margin-left: 12px;
    border: none;
    width:55px; 
    height:50px; 
}


/* For responsivity of hamburger menu .row is needed  */
.row {
    margin: 0;
 }


/*  Landing Page */


#home{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


#home h1{
      /*   text-align: start; */
        /* margin-top: 40px; */
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
        color: #525253;
        font-size: 2.2rem;
   /*      text-decoration: underline wavy; 
        text-decoration-color: #85D7CB; */
}

#home p {
    text-align: center;
    color: rgb(119, 119, 126);
    font-size: 1.5rem;
    /* margin-top: 50px; */
    line-height: 2rem;
    margin-bottom: 50px;
    /* margin-bottom: -10px; */
}



.home-image{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
} 


 .home-image img{
    align-items: center;
    transition: transform 2s, 1s ease-in-out;
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    /* margin-top: 50px;  */
}  


.home-image img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }




/* .home-container{
    margin-top: 120px;
} */

.scroll-down{
    /*   border: 1px solid red; */
    display:none;
  }  
/* 
  .scroll-down h4{
    color: #77777E;
  font-size: 1.5rem;
  }   */




.box-0 h1{
    text-align: start;
    margin-top: 85px;
    font-weight: bold;
    color: #525253;
    font-size: 2.2rem;
    
} 

.box-1 p{
    color: #77777E;
    text-align: start;
    font-size: 1.3rem;
    margin-bottom: 25px;
    
} 



/*  .box-0{
    border: 1px solid red;
} 
.box-1{
    border: 1px solid red;
}   */

 .box-2{ 
    display: flex;
    justify-content: center;
} 

 
 

 .box-2 img{
    align-items: center;
    transition: transform 2s, 1s ease-in-out;
    cursor: pointer;
    max-width: 250px;
    max-height: 250px; 
}  


.box-2 img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

.highlight {
    text-decoration: none;
    color:rgb(96, 96, 102);
    font-weight:bold;
    font-family: sans-serif;
    padding: 0 5px 5px;
    box-shadow: inset 0 -0.5em 0 #FFD4DC;
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
  }

  

.highlight:hover {
    color:black;
    text-decoration: none;
    /* Alternative colour---  */
    box-shadow: inset 0 -1.5em 0 #FFD4DC;
    /* box-shadow: inset 0 -1.5em 0 rgba(208, 0, 227, 0.3);  */
}

  .fullstop{
      color: #85D7CB;
      font-size: 3rem;
  }

  .cta-button {
    text-align: center; 
  }

.cta-button a {
    display: inline-block;
    color: #85D7CB;
    text-decoration: none;
    font-size: 2.2rem;
  }
  
 .cta-button a:hover {
    color: #FFD4DC;
  } 
 

.fas {
    -webkit-animation: mover 1.2s infinite  alternate;
    animation: mover 1.2s infinite  alternate;
}
.fas {
    -webkit-animation: mover 1.2s infinite  alternate;
    animation: mover 1.2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* https://codepen.io/jaabert/pen/gObMGBV */

/* .design-thinking {
    padding-left: 10%;
    padding-right: 10%;
} */


.design-thinking h2{
    color: #525253;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
   /*  line-height: 30px; */
}


.design-thinking p{
   /*  border: 1px solid red;  */
    font-size: 1.2rem;
    text-align: left; 
    padding-top: 20px;
}

.design-image{
    display:flex;
    justify-content: center;
    padding:2%;
}

.design-image img{
    align-items: center;
    margin-top: 20px;
    transition: transform 2s, 1s ease-in-out;
    box-shadow: 5px 5px 25px rgba(255, 212, 220, 0.651);
    border-radius: 20px;
    cursor: pointer;
    max-width: 300px;
    max-height: 300px;
}


.design-image img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }




.box-6{
    padding: 6%;
}

.box-6 p{
   /*  border: 1px solid red;  */
    font-size: 1rem;
    /* text-align: left;  */
    padding-top: 30px;
    padding-right: 5%;
    font-weight: bold;
    font-style: italic;
    color: grey;
    transition: transform .2s;
    cursor: pointer;
}


.box-6 p:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }


/* image line  */
/* hr{
   
    border-top:2px solid black;
  
} */


/* Line separator between about and device features section */
.line-2 {
    margin-top: 70px;
    width: 20%;
    padding-left: 10%;
    padding-right: 10%;
    border-top: dotted #85D7CB;
    background: none;
    border-width:10px;  
}
  
.box-5{
    padding: 5%;
}
/* 
.box-5 .img-responsive{
    padding-right: 0;
} */

/* .padding{
    padding: 50px 0;
} */


 .padding img{
    width: 100%;
    padding: 5%;
}


#about-us p{
    margin-top: 25px; 
    /* text-align: start; */
   /*  padding-right: 5%;
    padding-left: 5%; */
    font-size:1.3rem;
    color: #77777E;
}



/* @media (min-width:768px)  {

    .box-4 h2{
        font-size: 2.5rem;
    }

    .box-4 p{
        font-size: 1.5rem;
        padding-top: 40px;
        
} 

.box-6 p{
    font-size: 1.2rem;
    padding-right: 40px;
    
} 
}

.box-7 p{
    text-align: start;
    margin-top: 25px; 
    color: rgb(119, 119, 126);
    font-size: 1.2rem;
    
} */




/* 
Project Page */


#project1-2{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


#project1-2 h1 {
    /* text-align: start; */
    margin-top: 47px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #525253;
    font-size: 2.2rem;
}

#project1-2 p {
    color: rgb(119, 119, 126);
    text-align: start;
    font-size: 1.2rem;
    /* margin-top: 50px; */
    line-height: 1.8rem;
    margin-bottom: 25px;
    /* margin-bottom: -10px; */
}


.projectButton{
  /*   margin-top: 50px; */
    display: flex;
    justify-content: center; 
}

.projectButton a{
   /*  margin-top: 15px;
    margin-bottom: 10px; */
    margin-right: 20px;
    margin-left: 20px;
    padding-right:20px;
    padding-left:20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.button1{
    align-items: center;
    background-color: white;
    border-radius: 20px;
    color:  rgb(178, 178, 184);
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow:  0px 8px 15px 3px rgba(255, 177, 193, 0.5);
    transition: all 0.3s ease 0s;
}

.button1:hover {
    color:white;
    background-color: #FFB1C0;
    border-color: transparent;
    text-decoration: none;
    }


.button2{
    align-items: center;
    border-radius: 20px;
    color:  rgb(178, 178, 184);
    font-weight: bold;
    font-size: 1.1rem;
    box-shadow: 0px 8px 15px 3px rgba(133, 215, 203, 0.5);
    transition: all 0.3s ease 0s;
}

.button2:hover {
    color:white;
    background-color: #85D7CB; 
    border-color: transparent;
    text-decoration: none; 
}


.projects-image{ 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
} 


 .projects-image img{
    align-items: center;
    transition: transform 2s, 1s ease-in-out;
    cursor: pointer;
    max-width: 200px;
    max-height: 200px;
    /* margin-top: 50px;  */
}  


.projects-image img:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }



/* Project 1 section */
/* MAGIC WITH THE NAVBAR this allows the bottom to move to the top of the what we do section*/
 .container-fluid {
    padding-right: 0;
    padding-left: 0;
  /*   margin-right: 200px;
    margin-left: 200px; */
    /* margin: 0px auto; */
}
 


#project1{
    background-color: rgba(255, 212, 220, 0.712);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}

/* #project1:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
  }
 */

#project1 h1 {
    text-align: center;
    font-size: 2.3rem;
   /*  margin-top: 60px; */
    color: #525253;
    font-weight: bold;
    margin-bottom: 40px;
   } 

   #project1 p {
  /*   align-items: center; */
    text-align: center; 
    font-size: 1.3rem;
    color: #525253;
    letter-spacing: 2px;
    line-height: 2rem;
   /*  padding-top: 5%; */
}


.imgButton{
    text-align:center;
}


.projectButton-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectButton-projects a{
    /*  margin-top: 15px;
     margin-bottom: 10px; */
     margin-right: 20px;
     margin-left: 20px;
     padding-right:20px;
     padding-left:20px;
     padding-top: 8px;
     padding-bottom: 8px;
 }


.button3{
    font-size: 1rem;
    background-color: #FFB1C0;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0px 8px 15px rgba(255, 177, 193, 0.685);
    transition: all 0.3s ease 0s;
}

.button3:hover {
    color:  rgb(178, 178, 184);
    background-color: white;
   /*  background-color: #C0C0C9; */
    border-color: transparent;
    text-decoration: none;
  /*   box-shadow: 0px 15px 20px rgba(255, 177, 193, 0.692);
    transform: translateY(-7px); */
}





.logo-image{ 
    display: flex;
    justify-content: center;
} 


 .logo-image img{
    align-items: center;
    transition: transform 2s, 1s ease-in-out;
    cursor: pointer;
    max-width: 300px;
    max-height: 300px;
}  


.logo-image img:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }



  
#project2{
    background-color: rgba(133, 215, 203, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width: 100%;
}

/* #project2:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
  } */


#project2 h1 {
    text-align: center;
    font-size: 2.3rem;
 /*    margin-top: 60px; */
    color: #525253;
    font-weight: bold;
    margin-bottom: 40px;
   } 


   #project2 p {
    align-items: center;
    text-align: center;
    font-size: 1.3rem;
    color: #525253;
    letter-spacing: 2px;
    line-height: 2rem;
}


.projectButton-projects{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button4{
    font-size: 1rem;
    background-color: #5AD7C4;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 0px 8px 15px rgba(90, 215, 196, 0.74);
    transition: all 0.3s ease 0s;
}

.button4:hover {
    color:  rgb(178, 178, 184);
    background-color: white;
    border-color: transparent;
    text-decoration: none;
 /*    box-shadow: 0px 15px 20px rgba(90, 215, 196, 0.842) ;
    transform: translateY(-7px); */
}



#contact{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:90%;
    width: 100%;
}

#contact h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: #77777E;
 /*    padding-right: 20%;
    padding-left: 20%; */
}

#back{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
    width: 100%;
}

.box-3 h4{
    margin-top: -20px;
    color: #77777E;
    font-size: 1.3rem;
}

.social-icons{
    margin-top: 20px;
    text-align: center;
    /* border:1px solid green;  */
}
.social-icons p{
    font-family: inherit;
    font-size: 1.2rem;
}

.fa {
  /*   padding: 10px 15px 5px; */
    font-size: 1.5rem;
    color:#525253;
    padding-bottom: 1%;
    
}

.fa:hover{
    color: #FFB1C0;  
    text-decoration: none;
}

.fab {
   /*  padding: 10px 15px 5px; */
    font-size: 1.5rem;
    color:#525253;
    padding-bottom: 1%;
    
}

.fab:hover{
    color: #FFB1C0;  
    text-decoration: none;
}



.far {
   /*  padding: 10px 15px 5px; */
    font-size: 1.5rem;
    color: #525253;
}

.far:hover{
    color: #FFB1C0;  
    text-decoration: none;
} 



.footer-box{
    display: flex;
    justify-content: center;
    /*border:1px solid blue;*/
}


.copyright{
    text-align: center;
    padding: 5%;
}

.copyright h6{
    font-size: 0.9rem;

}




/* project 1 page */
#project-home{
  /*   background-color: rgba(255, 212, 220, 0.712); */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


#project-home h1 {
    /* text-align: start; */
    margin-top: 47px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #525253;
    font-size: 2.2rem;
}

#project-home h3 {
    color: #FFB1C0;
    font-weight: bold;
    text-align: start;
    font-size: 1.5rem;
    line-height: 1.8rem;
}

#project-home h5 {
    color: rgb(119, 119, 126);
    text-align: start;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

#project-home p {
    color: rgb(119, 119, 126);
    text-align: start;
    font-size: 1.3rem;
    line-height: 2.1rem;
}


#project1-images{
    background-color: rgba(238, 241, 241, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
   /*  height:100%;
    width: 100%; */
}

#project1-introduction{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
   /*  align-items: center; */
    /* height:100%;
    width: 100%; */
}


#project1-research{
    background-color: rgba(238, 241, 241, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center; 
  /*   height:100%;
    width: 100%; */
}

#project1-research h1{
    color: #525253;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

 .paragraph-research p{
    font-size: 1.2rem;
    line-height: 2.1rem;
}
.paragraph-research-last{
    font-size: 1.2rem;
    line-height: 2.1rem;
}



 #project1-research h3 {
    color: #525253;
    font-weight: bold;
    line-height: 2rem;
   margin-top: 20px; 
    font-size: 1.3rem;
}

#project1-research h4 {
    color: #525253;
   /*  font-weight: bold; */
    line-height: 2rem;
  /*   margin-top: 50px; */
    font-size: 1.3rem;
    text-decoration: underline;
}

#project1-research li {
    color: #525253;
    font-size: 1.2rem;
}


#project2-research{
    background-color: rgba(238, 241, 241, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
  /*   padding-top: 30px; */
    padding-bottom: 30px; 
  /*   height:100%;
    width: 100%; */
}

#project2-research h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

#project2-research p{
     font-size: 1.2rem;
     line-height: 2.1rem;
 }


 #project2-research h3 {
    color: #525253;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 50px;
    font-size: 1.3rem;
}

#project2-research li {
    color: #525253;
    font-size: 1.2rem;
}

.project2-brief h1{
    color: #525253;
    font-size: 1.8rem; 
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 30px;
    margin-top: 20px;
   /*  line-height: 30px; */
}


.project2-brief p{
   /*  border: 1px solid red;  */
    font-size: 1.2rem;
    text-align: left; 
    padding: 0;
   /*  padding-top: 20px; */
}



.project2-brief li{
/*     list-style-type: none; */
    padding: 0;
    font-size: 1.2rem;
}
/* 

.project1-affinity{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px; 
 }


.project1-affinity img{
    align-items: center;
   
} */
.affinity{
    margin-top: 100px;
    margin-bottom: 50px;
}

.affinity-image{
    display: flex;
    justify-content: center;
}

.affinity-image img{
    align-items: center;
    max-width: 230px;
    margin-top: 25px;
   /*  max-height: 800px; */
    /* height: 100%;
    width: 100%; */
}

 
 .project1-brief h1{
    color: #525253;
    font-size: 1.5rem; 
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
   /*  line-height: 30px; */
}


.project1-brief p{
   /*  border: 1px solid red;  */
    font-size: 1.2rem;
    text-align: left; 
    padding: 0;
   /*  padding-top: 20px; */
}


.project1-brief .heading{
    font-weight: bold;
    color: #525253;
    /* text-decoration: underline; */
}

.project1-brief li{
    list-style-type: none;
    padding: 0;
    font-size: 1.2rem;
}

.project1-responsibilities h3{
    color: #525253;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 50px;
    font-size: 1.3rem;
}

.project1-responsibilities li{
    color: #525253;
    font-size: 1.2rem;
}

.project1-responsibilities p{
    color: #525253;
    font-size: 1.2rem;
}

.design-process-image{
   display: flex;
   justify-content: center;
}

.design-process-image img{
    align-items: center;
    width: 100%;
    height: 100%;
 }
 

.project1-brief ul{
    padding: 0;
}

blockquote {
    align-items: center;
    background: #f9f9f9;
    border-left: 2px solid #ccc;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 10%;
    margin-left: 10%; 
    padding: 2%;
    font-size: 1.3rem;
    font-style: italic;
    color: #959599;
    font-weight: bold;
  
    /* quotes: "\201C""\201D""\2018""\2019"; */
  }
  blockquote:before {
    color: #85D7CB;
    content: open-quote;
    font-size: 5rem;
    line-height: 2rem;
    margin-right: 20px;
    vertical-align: -1rem;
  }

  .italic-info{
      font-style: italic;
  }

  .userInsight-heading p{
    justify-content: center;
    text-align: center;
    font-size: 1.1rem;
    color: #959599;
    padding-right: 15%;
    padding-left: 15%;
    /* padding-right: 5%;
    padding-left: 5%; */
}

.user-img{
    display: flex;
    justify-content:center;
    padding-top: 40px;
    padding-bottom: 20px;
    /*border: 3px solid red;*/
 } 

 .user-img img{
    height: 150px;
    width: 150px;
    flex:0 1 auto;
    align-self:center;
    margin: 0 auto; 
 /*  border:1px solid red;  */
 } 

 .heading2{
    font-weight: bold;
    color: #525253;
    /* text-decoration: underline; */
}

  
#project1-conclusion{
    background-color: rgba(238, 241, 241, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center; 
  /*   height:100%;
    width: 100%; */
}

#project1-conclusion h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project1-conclusion p{
     font-size: 1.2rem;
     line-height: 2.1rem;
 }


 #project1-conclusion h3 {
    color: #525253;
    font-weight: bold;
    line-height: 2rem;
/*     margin-top: 50px; */
    font-size: 1.4rem;
}

#project1-conclusion li {
    color: #525253;
    font-size: 1.2rem;
}

  /* blockquote p {
    display: inline;
    
  } */

/* project 2 page */
#project2-home{
   /*   background-color: rgba(255, 212, 220, 0.712);  */
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
  }
  
  
  #project2-home h1 {
    margin-top: 47px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #525253;
    font-size: 2.2rem;
}
  #project2-home h3 {
      color: #85D7CB;
      font-weight: bold;
      text-align: start;
      font-size: 1.5rem;
      line-height: 1.8rem;
  }
  
  #project2-home h5 {
      color: rgb(119, 119, 126);
      text-align: start;
      margin-bottom: 25px;
      font-size: 1.1rem;
  }
  
  #project2-home p {
      color: rgb(119, 119, 126);
      text-align: start;
      font-size: 1.3rem;
      line-height: 2.1rem;
  }
 

#project2-images{
    background-color: rgba(238, 241, 241, 0.664); 
    display: flex;
    justify-content: center;
    align-items: center;
}



.mobile-image{ 
    display: flex;
    justify-content: center;
    padding: 5%;
} 


.mobile-image img{
    align-items: center;
    cursor: pointer;
    max-height: 400px;
    box-shadow: 0px 8px 20px rgba(77, 74, 74, 0.63);
  
}  


/* persona section */

#project1-persona{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
  /*   height:100%;
    width: 100%; */
}

#project1-persona h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project1-persona p{
     font-size: 1.2rem;
     line-height: 2.1rem;
   /*   padding-top: 20px; */
   
 }


 #project1-persona h3 {
    color: #525253;
    font-weight: bold;
    line-height: 2rem;
   /*  margin-top: 50px; */
    font-size: 1.3rem;
}

#project1-persona li {
    color: #525253;
    font-size: 1.2rem;
}

.persona-image{ 
    display: flex;
    justify-content: center;
} 


.persona-image img {
    align-items: center;
    width: 100%;
    height: 100%;
}

#project1-scenario{
    background-color: rgba(238, 241, 241, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px; 
}

#project1-scenario h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project1-scenario p{
    font-size: 1.2rem;
    line-height: 2.1rem;
   /*  padding-top: 20px; */
}

#project1-scenario h3 {
    color: #525253;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 50px;
    font-size: 1.4rem;
}

.scenario-image{ 
    display: flex;
    justify-content: center;
} 


.scenario-image img {
    align-items: center;
    width: 100%;
    height: 100%;
}

#project2-system{
    background-color: rgba(238, 241, 241, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
}

#project2-system h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project2-system p{
    font-size: 1.2rem;
    line-height: 2.1rem;
   /*  padding-top: 20px; */
}

.system-image{ 
    display: flex;
    justify-content: center;
} 


.system-image img {
    align-items: center;
    width: 100%;
    height: 100%;
}




#project1-wireframes{
    /* background-color: #EEF1F1;  */
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
  /*   height:100%;
    width: 100%; */
}

#project1-wireframes h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project1-wireframes p{
    font-size: 1.2rem;
    line-height: 2.1rem;
    margin-bottom: 80px;
   /*  padding-top: 20px; */
}

/* .wireframe-image{ 
    display: flex;
    justify-content: center;
}  */


/* .wireframe-image img {
    align-items: center;
    width: 100%;
    height: 100%;
} */


.wireframe-image{ 
    display: flex;
    justify-content: center;
   /*  padding: 5%;
    padding-right: 2%;
    padding-left: 2%;
 */
} 

.wireframe-image img{
    align-items: center;
    /* transition: transform 2s, 1s ease-in-out; */
    cursor: pointer;
   /*  max-width: 200px; */
    max-height: 400px;
    max-width: 200px;
    box-shadow: 0px 8px 20px rgba(77, 74, 74, 0.63);
}  

.wireframeButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.wireframeMomu{ 
    display: flex;
    justify-content: center;
} 


.wireframeMomu iframe {
    align-items: center;
    cursor: pointer;
    width: 200px; 
    height: 434px; 
   /*  width="375" height="908" */
/*     margin-top: 55px; */
    box-shadow: 0px 8px 20px rgba(133, 129, 129, 0.432);
    margin-top: 100px;
}


#project1-final{
    /* background-color: #EEF1F1;  */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px; 
  /*   height:100%;
    width: 100%; */
}

#project1-final h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project1-final p{
    font-size: 1.2rem;
    line-height: 2.1rem;
   /*  padding-top: 20px; */
}

/* .wireframe-image{ 
    display: flex;
    justify-content: center;
}  */


/* .wireframe-image img {
    align-items: center;
    width: 100%;
    height: 100%;
} */


.final-image{ 
    display: flex;
    justify-content: center;
   /*  padding: 5%;
    padding-right: 2%;
    padding-left: 2%;
 */
} 


.final-image img {
    align-items: center;
    cursor: pointer;
    max-height: 500px;
    margin-top: 55px;
}

.final-prototype{ 
    display: flex;
    justify-content: center;
   /*  padding: 5%;
    padding-right: 2%;
    padding-left: 2%;
 */
} 


.final-prototype iframe {
    align-items: center;
    cursor: pointer;
    width: 250px; 
    height: 540px;
    margin-top: 100px;
    box-shadow: 0px 8px 20px rgba(133, 129, 129, 0.432);
}




#project1-system{
   /*  background-color: #EEF1F1;  */
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
}

#project1-system h1{
    color: #525253;
   /*  font-size: 1.8rem; */
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 30px;
    margin-top: 20px;
}

#project1-system p{
    font-size: 1.3rem;
    line-height: 2.1rem;
   /*  padding-top: 20px; */
}

.system-image{ 
    display: flex;
    justify-content: center;
} 


.system-image img {
    align-items: center;
    width: 100%;
    height: 100%;
}

#project1-visual{
    background-color: rgba(238, 241, 241, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
}

#project1-visual h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project1-visual p{
    font-size: 1.2rem;
    line-height: 2.1rem;
   /*  padding-top: 20px; */
}

.visual-image{ 
    display: flex;
    justify-content: center;
    margin-top: 50px;;
} 


.visual-image img {
    align-items: center;
    width: 100%;
    height: 100%;
}

.wireframe2-image{ 
    display: flex;
    justify-content: center;
} 


.wireframe2-image img {
    align-items: center;
    width: 100%;
    height: 100%;
}




#project2-wireframes{
    /* background-color: rgba(238, 241, 241, 0.664);  */
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 30px;
}

#project2-wireframes h1{
    color: #525253;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

#project2-wireframes p{
    font-size: 1.2rem;
    line-height: 2.1rem;
   /*  padding-top: 20px; */
}

.wireframe-image{ 
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
} 


.wireframe-image img {
    align-items: center;
    width: 100%;
    height: 100%;
}


.wireframeButton a {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#project2-final{
    /* background-color: #EEF1F1;  */
    display: flex;
    justify-content: center;
    align-items: center; 
  /*   height:100%;
    width: 100%; */
}

#project2-final h3{
    text-align: center;
    color: #525253;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2rem;
    margin-top: 100px;
    margin-bottom: -60px;
}


.final-image2{ 
    display: flex;
    justify-content: center;
   /*  padding: 5%;
    padding-right: 2%;
    padding-left: 2%;
 */
} 


.final-image2 img {
    align-items: center;
    cursor: pointer;
    max-height: 400px;
    max-width: 350px;
    margin-top: 55px;
}

.final-prototype-Cedrion{ 
    display: flex;
    justify-content: center;
} 

.final-prototype-Cedrion iframe {
    align-items: center;
    cursor: pointer;
    width: 250px; 
    height: 500px;
    margin-top: 85px;
    box-shadow: 0px 8px 20px rgba(133, 129, 129, 0.432);
}

.final-website embed {
    height:600px;
    width: auto;
    margin-top: 80px;
}


/* Media queries */

/* iphone 5 media query  */
@media (max-width: 360px) {
    .logo{
        width:40px; 
        height:40px; 
    }
    
    #home h1 {
        font-size: 1.8rem;
        margin-top: 40px;
    }
    #home p {
        margin-bottom: 20px;
        font-size: 1.2rem;
    }
    .design-thinking h2 {
        font-size: 1.5rem;
    }
    .design-thinking p {
        font-size: 1.1rem;
    }
    .design-image img {
        max-width: 250px;
        max-height: 250px;
    }
    #project1-2 h1 {
        font-size: 2rem;
        margin-top: 60px;
        margin-bottom: 10px;
    }
    
    
    .home-image img {
        max-width: 180px;
        max-height: 180px;
    }
    #project1-2 p {
        font-size: 1rem;
     /*    line-height: 1.5rem;  */
    }
    .projectButton a {
        margin-right: 15px;
        margin-left: 15px;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .projects-image img {
        max-width: 140px;
        max-height: 140px;
       /*  margin-top: 12px; */
    }
    .button1 {
        font-size: 1rem;
    }
    .button2 {
        font-size: 1rem;
    }

    .button3 {
        font-size: 1rem;
    }
    .button4 {
        font-size: 1rem;
    }
    #project1 h1 {
        margin-top: 20px;
        font-size: 2rem;
    }
    #project1 h2 {
        margin-top: 20px;
        font-size: 2rem;
    }
    #project2 h1 {
        margin-top: 20px;
        font-size: 2rem;
    }
    .logo-image img {
        max-width: 200px;
        max-height: 200px;
    }
    #contact h2 {
        font-size: 1.3rem;
    }
    .social-icons p {
        font-size: 1rem;
    }
    .box-3 h4 {
       font-size: 1.2rem;
        margin-bottom: 40px;
    }
    .copyright h6{
        font-size: 0.9rem;
    }
    .final-website embed {
        height:500px;
       width: 250px;
    }
    .final-image2 img {
        max-height: 300px;
        max-width: 300px;
    }
    #project-home h1 {
        margin-top: 100px;
        margin-bottom: 40px;
    }
    #project-home p {
        font-size: 1.3rem;
        margin-bottom: 0;
    }

    
.final-prototype iframe {
    width: 135px; 
    height: 290px;
}
.final-prototype-Cedrion iframe {
    width: 160px; 
    height: 350px;
}
 #project2-final h3 {
    font-size: 1.3rem;
}
/* .wireframeMomu {
    margin-top: -20px;
} */
.wireframeMomu iframe {
    width: 150px; 
    height: 325px;
}
.wireframeButton {
    margin-top: 20px;
    /* margin-bottom: 80px; */
}
.wireframeButton a {
    padding-top: 5px;
    padding-bottom: 5px;
}

   
}


@media (min-width:770px) and (max-height: 1883px)  {
    #home h1{
        text-align: start;
        font-size: 3rem;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 40px;
  }

  #home p{
    text-align: start;
    font-size: 1.5rem;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2rem;
    margin-top: 20px;
    margin-bottom:0;
  }
  .scroll-down{
    display:block;
    margin-top:100px;
  } 
  .scroll-down h4{
    color: #77777E;
    font-size: 1.5rem;
  }  
  

  .fullstop {
    font-size: 4rem;
}

  .home-container {
    margin-top: 120px;
}
.home-image img {
    max-width: 280px;
    max-height: 280px;
}
.design-thinking {
    padding-left: 10%;
    padding-right: 10%;
}
.design-thinking p {
    line-height: 2.2rem;
    padding-top: 0;
}
.design-image img {
    max-width: 500px;
    max-height: 500px;
    margin-top: 0;
}
.design-image img:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }
  #project1-2{
    padding-right: 5%;
    padding-left: 5%;
}
    

    #project1-2 h1{
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 5%;
       /*  margin-top:0; */
    }
  
    #project1-2 p{
      font-size: 1.5rem;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
      line-height: 2.7rem;
    }


    #project1 h1{
        padding-top: 70px;
        font-size: 3rem;
  }

  #project2 h1{
    padding-top: 70px;
    font-size: 3rem;
}
#project1 p {
    font-size: 1.8rem;
}
#project2 p {
    font-size: 1.8rem;
}


.box-0 h1{
    padding-left: 5%;
    font-size: 3rem;
} 

    .box-4 h2{
        font-size: 2.5rem;
    }

    .box-4 p{
        font-size: 1.5rem;
        padding-top: 40px;
        
} 

.box-6 p{
    font-size: 1.2rem;
    padding-right: 40px;
    
} 


/* .box-7 p{
    margin-top: 25px; 
    padding-right: 15%;
} */


#contact h2 {
    padding-right: 20%;
    padding-left: 20%;
    font-size: 2rem;
}
.copyright{
    text-align: right;
    padding: 2%;
    font-size: 1.1rem;
}
.projects-image img {
    max-width: 280px;
    max-height: 280px;
   /*  margin-top: 70px; */
}

.button1 {
    padding: 15px;
    font-size: 1.4rem;
}
.button1:hover {
    box-shadow: 0px 15px 20px rgba(255, 177, 193, 0.692);
    transform: translateY(-7px);
    }

.button2 {
    padding: 15px;
    font-size: 1.4rem;
}
.button2:hover {
    box-shadow: 0px 15px 20px rgba(133, 215, 203, 0.712);
    transform: translateY(-7px);
}

.button3 {
    padding: 15px;
    font-size: 1.4rem;
}

.button3:hover {
    box-shadow: 0px 15px 20px rgba(255, 177, 193, 0.692);
    transform: translateY(-7px);
}

.button4 {
    padding: 15px;
    font-size: 1.4rem;
}

.button4:hover {
    box-shadow: 0px 15px 20px rgba(90, 215, 196, 0.842) ;
    transform: translateY(-7px);
}




.projectButton-projects {
    margin-top: 50px;
}
.logo-image img {
    max-width: 550px;
    max-height: 550px;
}
.box-2 img {
    max-width: 400px;
    max-height: 400px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    background:linear-gradient(#85D7CB,#85D7CB) bottom/100% 4px no-repeat; 
}

.navbar-nav > li {
    margin-left: 30px;
    margin-right: 30px;
}
.logo {
    margin-left: 30px;
}
.nav-link{
    font-size: 1.5rem;
}

/* #project2-images{
    padding-right: 10%;
    padding-left: 10%; 
} */
.mobile-image img{
    max-width: 500px;
    max-height: 500px;
}  

.affinity-image img{
    max-width: 800px;
  /*   margin-top: 25px; */
   /*  max-height: 800px; */
    /* height: 100%;
    width: 100%; */
}

.final-image img{
    align-items: center;
    cursor: pointer;
    max-height: 800px;
}  

.final-website embed {
    height:800px;
    width: 1500px;
    /* style="width:1500px; height: 800px; */
}
.final-image2 img {
    max-height: 1000px;
    max-width: 1000px;
}
.final-prototype-Cedrion iframe {
   width: 370px; 
    height: 790px; 
  /*   width: 359px;
    height: 7px; */
    margin-top: 90px;
}
.wireframeMomu iframe {
    width: 300px; 
    height: 750px;
    margin-top: 120px;
}

.wireframeButton {
    margin-top: 50px;
    /* margin-bottom: 10px; */
}
.wireframeButton a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.4rem;
}
#project2-final h3{
    margin-top: 110px;
 /*    margin-bottom: -60px; */
}
/* .userInsight-heading p{
    padding-right: 30%;
    padding-left: 30%;
} */
.social-icons p {
    font-size: 1.3rem;
}
.copyright h6 {
    font-size: 1.2rem;
}
#project-home{
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 80px;
    margin-bottom: 80px;
}
#project2-home{
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 80px;
    margin-bottom: 80px;
}

#project-home h1 {
    font-size: 3rem;
}
#project-home h3 {
    font-size: 1.8rem;
}
#project-home h5 {
    font-size: 1.4rem;
}
#project-home p {
    font-size: 1.8rem;
}

#project2-home h1 {
    font-size: 3rem;
}
#project2-home h3 {
    font-size: 1.8rem;
}
#project2-home h5 {
    font-size: 1.4rem;
}
#project2-home p {
    font-size: 1.8rem;
}
.project1-brief li {
    font-size: 1.3rem;
}
.project1-brief h1 {
    font-size: 2.5rem;
}
.project1-responsibilities h3 {
    font-size: 1.7rem;
}
.project1-responsibilities p {
    font-size: 1.3rem;
}
.project1-responsibilities li {
    font-size: 1.3rem;
}

#project1-introduction{
        padding-right: 5%;
        padding-left: 5%;
        margin-top: 80px;
        margin-bottom: 80px;
}

#project1-research{
    padding-right: 5%;
    padding-left: 5%;
  /*   margin-top: 200px;
    margin-bottom: 80px; */
}
#project1-research h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 80px; 
}
#project1-research h3 {
    font-size: 1.8rem;
    margin-top: 80px;
}
#project1-research li {
    font-size: 1.3rem;
}
.paragraph-research-last{
    margin-bottom: 80px;
    font-size: 1.3rem;
}
.paragraph-research p{
    font-size: 1.3rem;
    line-height: 2.1rem;
}

#project2-research{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}
#project2-research h1 {
    font-size: 2.5rem;
}
#project2-research h3 {
    font-size: 1.8rem;
    margin-bottom: 25px;
}
#project2-research li {
    font-size: 1.3rem;
}
#project2-research p{
    font-size: 1.3rem;
}


.design-process-image{
    padding-top: 80px;
    padding-bottom: 80px;
}

#project2-system{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}
#project2-system p{
    font-size: 1.3rem;
}

#project2-wireframes{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}
#project2-wireframes p {
    font-size: 1.3rem;
}


blockquote {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 1.8rem;
}

#project1-persona{
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 80px;
    margin-bottom: 80px;
}
#project1-persona h1 {
    font-size: 2.5rem;
}
#project1-persona h3 {
    font-size: 1.8rem;
}
#project1-persona li {
    font-size: 1.3rem;
}
#project1-persona p{
    font-size: 1.3rem;
    line-height: 2.1rem;
  /*   padding-top: 20px; */
  
}


#project1-scenario{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}
#project1-scenario h1 {
    font-size: 2.5rem;
/*     margin-top: 80px;
    margin-bottom: 80px; */
}
#project1-scenario h3 {
    font-size: 1.8rem;
}
#project1-scenario p {
    font-size: 1.3rem;
}

#project1-wireframes{
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 80px;
    margin-bottom: 80px;
}
#project1-wireframes h1 {
    font-size: 2.5rem;
}

#project1-visual{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}

#project1-visual h1 {
    font-size: 2.5rem;
}
#project1-visual p {
    font-size: 1.3rem;
}

#project1-final{
    margin-top: 80px;
    margin-bottom: 80px;
    padding-right: 5%;
    padding-left: 5%;
}
#project1-final h1 {
    font-size: 2.5rem;
}
#project1-final p {
    font-size: 1.3rem;

}

#project1-conclusion{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 80px;
    padding-bottom: 80px;
}
#project1-conclusion h1 {
    font-size: 2.5rem;
}
#project1-conclusion h3 {
    font-size: 1.8rem;
}
#project1-conclusion p{
    font-size: 1.3rem;
}
.affinity-image{
    padding-left: 5%;
}
#project1-persona{
    margin-top: 80px;
    margin-bottom: 80px;
   }
   #project1-wireframes p {
    font-size: 1.3rem;
}

}




@media  (max-width:991px){
    
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color:#85D7CB;
    font-weight: bold;
    background: none;
}
.scroll-down{
    display:none;
}

}














